<div class="col-xs-12">
    <h2>Mes appareils</h2>
  
    <p> Mis à jour : {{ lastUpdate | async | date: 'EEEE d MMMM y' }} </p>
  
    <ul class="list-group">
      <app-appareil 
      *ngFor=" let appareil of appareils; let i = index"
        [indexOfAppareil]="i"
        [appareilName]="appareil.name"
        [appareilStatus]="appareil.status"
        style="margin-bottom:1em">
      </app-appareil>
    
    </ul>
    <br />
    <!-- 
      [disabled]="!isAuth" -->
    <button
      class="btn btn-success"
      (click)="onAllumer()"
      style="margin-right:1em;">
      Tout Allumer
    </button>
  
    <button class="btn btn-danger"
        (click)="onEteindre()"> Tout éteindre
    </button>
</div>